@model ContosoUniversityDemo.Models.Course

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detail</h2>
<h3>Courses Detail</h3>
<dl class="dl-horizontal">
    <dt>Department</dt>
    <dd>@Html.DisplayFor(m => m.Department.Name)</dd>
    <dt>@Html.DisplayNameFor(m => m.CourseID)</dt>
    <dd>@Html.DisplayFor(m => m.CourseID)</dd>
    <dt>@Html.DisplayNameFor(m => m.Title)</dt>
    <dd>@Html.DisplayFor(m => m.Title)</dd>
    <dt>@Html.DisplayNameFor(m => m.Credits)</dt>
    <dd>@Html.DisplayFor(m => m.Credits)</dd>
    <dt>@Html.DisplayNameFor(m => m.Department.Name)</dt>
    <dd>@Html.DisplayFor(m => m.Department.Name)</dd>
</dl>
<p>
    @Html.ActionLink("Back To CourseIndex", "Index", null, new { style = "text-decoration:none;" })
</p>