@model ContosoUniversityDemo.Models.Course
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
<h3>Course</h3>

@using (Html.BeginForm("Edit", "Course", FormMethod.Post))
{
    @Html.ValidationSummary(true);
    @Html.AntiForgeryToken();
    
    @Html.HiddenFor(m => m.CourseID)
    @Html.HiddenFor(m => m.DepartmentID)
    
    <div class="form-group">
        @Html.LabelFor(m => m.CourseID)
        @Html.DisplayFor(m => m.CourseID)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Title, null, new { style = "color:red;font-weight:bold;" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Credits)
        @Html.TextBoxFor(m => m.Credits, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Credits, null, new { style = "color:red;font-weight:bold;" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Department)
        @Html.DropDownListFor(m => m.Department, (SelectList)ViewBag.DepartmentID, (String)ViewBag.DepartmentString, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.DepartmentID, null, new { style = "color:red;font-weight:bold;" })
    </div>
    
    <input type="submit" value="Save" class="btn btn-success">
}
<br />
@Html.ActionLink("Back To CourseIndex", "Index", null, new { style = "text-decoration:none;" })
