@model IEnumerable<ContosoUniversityDemo.Models.Course>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Course</h2>
<p>
    @Html.ActionLink("Create New Course", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table table-hover">
    <tr>
        <th>@Html.DisplayNameFor(m => m.CourseID)</th>
        <th>@Html.DisplayNameFor(m => m.Title)</th>
        <th>@Html.DisplayNameFor(m => m.Credits)</th>
        <th>Department</th>
        <th></th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(m => item.CourseID)</td>
            <td>@Html.DisplayFor(m => item.Title)</td>
            <td>@Html.DisplayFor(m => item.Credits)</td>
            <td>@Html.DisplayFor(m => item.Department.Name)</td>
            <td>@Html.ActionLink("Edit", "Edit", null, new { id = item.CourseID }, new { style = "text-decoration:none;" }) | @Html.ActionLink("Detail", "Detail", null, new { id = item.CourseID }, new { style = "text-decoration:none;" }) | @Html.ActionLink("Delete", "Delete", null, new { id = item.CourseID }, new { style = "text-decoration:none;" })</td>
        </tr>
    }
</table>
