@model IEnumerable<_04ContosoUniversity.ViewModels.EnrollmentDataGroup>
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Student Body Statistics</h2>
<table class="table table-striped">
    <tr>
        <th>@Html.ActionLink("EnrollmentDate", "About", null, new { sortOrder = ViewBag.dateSort }, new { style = "text-decoration:none;color:#000;" })</th>
        <th>@Html.ActionLink("Count", "About", null, new { sortOrder = ViewBag.countSort }, new { style = "text-decoration:none;color:#000;" })</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(m => item.EnrollmentDate)</td>
            <td>@Html.DisplayFor(m => item.StudentCount)</td>
        </tr>
    }
</table>

@*
<h2>Student Body Statistics</h2>
<table class="table table-striped">
    <tr>
        <th>EnrollmentDate</th>
        <th>Students</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(m => item.EnrollmentDate)</td>
            <td>@Html.DisplayFor(m => item.StudentCount)</td>
        </tr>
    }
</table>
*@