@model ContosoUniversityDemo.Models.Instructor
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>
<h3>Create A New Instructor</h3>

@using (Html.BeginForm("Create", "Instructor", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.FirstMidName)
        @Html.TextBoxFor(m => m.FirstMidName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.HireDate)
        @Html.TextBoxFor(m => m.HireDate, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.OfficeAssignment.Location)
        @Html.TextBoxFor(m => m.OfficeAssignment.Location, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label class="checkbox-inline">
            
        </label>
    </div>
}
