@model ContosoUniversity.Models.Student
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Student Create</h2>

@using (Html.BeginForm("Create", "Student", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="form-group">
        <label>@Html.DisplayNameFor(m => m.LastName)</label>
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>@Html.DisplayNameFor(m => m.FirstMidName)</label>
        @Html.TextBoxFor(m => m.FirstMidName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>@Html.DisplayNameFor(m => m.EnrollmentDate)</label>
        @Html.TextBoxFor(m => m.EnrollmentDate, new { @class = "form-control" })
    </div>
    <input type="submit" class="btn btn-success" value="Save">
}

<p style="margin-top:0.8em;">@Html.ActionLink("Back", "Index", null, new { style = "text-decoration:none;" })</p>
