@model ContosoUniversityDemo.Models.Student
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Student Detail</h2>

<dl class="dl-horizontal">
    <dt style="text-align:left;width:100px;">@Html.DisplayNameFor(m => m.LastName)</dt>
    <dd style="margin-left:100px;">@Html.DisplayFor(m => m.LastName)</dd>
    <dt style="text-align:left;width:100px;">@Html.DisplayNameFor(m => m.FirstMidName)</dt>
    <dd style="margin-left:100px;">@Html.DisplayFor(m => m.FirstMidName)</dd>
    <dt style="text-align:left;width:100px;">@Html.DisplayNameFor(m => m.EnrollmentDate)</dt>
    <dd style="margin-left:100px;">@Html.DisplayFor(m => m.EnrollmentDate)</dd>
</dl>
<table class="table">
    <caption>@Html.DisplayNameFor(m => m.Enrollments)</caption>
    <tr>
        <th>CourseId</th>
        <th>Course Title</th>
        <th>Grade</th>        
    </tr>
    @foreach (var item in Model.Enrollments)
    {
        <tr>
            <td>@Html.DisplayFor(mItem => item.Course.CourseID)</td>
            <td>@Html.DisplayFor(mItem => item.Course.Title)</td>
            <td>@Html.DisplayFor(mItem => item.Grade)</td>
        </tr>
    }
</table>
<p>@Html.ActionLink("Back", "Index", null, new { style = "text-decoration:none;" })</p>