@using PagedList.Mvc;
@model PagedList.IPagedList<ContosoUniversityDemo.Models.Student>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Student Index</h2>
<p>
    @Html.ActionLink("Create New Student", "Create", null, new { @class = "btn btn-success" })
</p>
@using (Html.BeginForm("Index", "Student", FormMethod.Get, new { @class = "form-inline", style = "margin-bottom:0.6em;" }))
{
    <div class="form-group">
        <label>Search String</label>
        @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Search String" })
        <input type="submit" value="Search" class="btn btn-default">
    </div>
}
<table class="table table-hover">
    <tr>
        <th>@Html.ActionLink("LastName", "Index", null, new { sortOrder = ViewBag.NameSort, currentFilter = ViewBag.CurrentFilter }, new { style = "text-decoration:none;" })</th>
        <th>FirstMidName</th>
        <th>@Html.ActionLink("Enrollment", "Index", null, new { sortOrder = ViewBag.DateSort, currentFilter = ViewBag.CurrentFilter }, new { style = "text-decoration:none;" })</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(m => item.LastName)</td>
            <td>@Html.DisplayFor(m => item.FirstMidName)</td>
            <td>@Html.DisplayFor(m => item.EnrollmentDate)</td>
            <td>@Html.ActionLink("Edit", "Edit", null, new { id = item.StudentID }, new { style = "text-decoration:none;" }) | @Html.ActionLink("Detail", "Detail", null, new { id = item.StudentID }, new { style = "text-decoration:none;" }) | @Html.ActionLink("Delete", "Delete", null, new { id = item.StudentID }, new { id = "deletelink", style = "text-decoration:none;" })</td>
        </tr>
    }
</table>
<p style="margin-top:0.8em;">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber ) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</p>
<script>
    $(function () {
        $("#deletelink").click(function () {
            return confirm("确定删除？");
        });
    });
</script>


@*new { @class = "form-inline", placeholder = "Search String" }
<h2>Student Index</h2>
<p>
    @Html.ActionLink("Create New Student", "Create", null, new { @class = "btn btn-success", style = "text-decoration:none;" })
</p>
@using (Html.BeginForm("Index", "Student", FormMethod.Get, new { @class = "form-inline", style = "margin-bottom:0.6em;" }))
{
    <div class="form-group">
        <label>Search String</label>
        @Html.TextBox("searchString", null, new { @class = "form-control", placeholder="Search String" })
        <input type="submit" value="Search" class="btn btn-default">
    </div>
}
<table class="table table-hover">
    <tr>
        <th>@Html.ActionLink("LastName", "Index", null, new { sortOrder = ViewBag.NameSort }, new { style = "text-decoration:none;" })</th>
        <th>@Html.DisplayNameFor(m => m.FirstMidName)</th>
        <th>@Html.ActionLink("注册日期", "Index", null, new { sortOrder = ViewBag.DateSort }, new { style = "text-decoration:none;" })</th>
        <th></th>
    </tr>
    
    <tr>
        <th>@Html.DisplayNameFor(m => m.LastName)</th>
        <th>@Html.DisplayNameFor(m => m.FirstMidName)</th>
        <th>@Html.DisplayNameFor(m => m.EnrollmentDate)</th>
        <th></th>
    </tr>
    
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(m => item.LastName)</td>
            <td>@Html.DisplayFor(m => item.FirstMidName)</td>
            <td>@Html.DisplayFor(m => item.EnrollmentDate)</td>
            <td>@Html.ActionLink("Edit", "Edit", null, new { id = item.StudentID }, new { style = "text-decoration:none;" }) | @Html.ActionLink("Detail", "Detail", null, new { id = item.StudentID }, new { style = "text-decoration:none;" }) | @Html.ActionLink("Delete", "Delete", null, new { id = item.StudentID }, new { id = "deletelink", style = "text-decoration:none;" })</td>
        </tr>
    }
</table>
*@
<script>
    $(function () {
        $("#deletelink").click(function () {
            return confirm("确定删除？");
        });
    });   
</script>
